@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
.header {
  width: 100%;
}
.header1 {
  height: 46px;
  background-color: #18154B;
  color: #F0F5FB;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header1__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}
.header1__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header1__contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 44px;
}
.header1__contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header1__contact-email_icon {
  margin-right: 10px;
}
.header1__contact-phone_icon {
  margin-right: 9px;
}
.header1__link_tg {
  margin-right: 18px;
}
.header2 {
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
}

@media (max-width: 1920px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
}
body {
  margin: 0;
  padding: 0;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
}
body img {
  max-width: 100%;
  display: block;
}
body p {
  margin: 0;
}