@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header2__circle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background-color: #F0F5FB;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999999;
}
.header1 {
  height: 46px;
  background-color: #18154B;
  color: #F0F5FB;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header1__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}
.header1__contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 44px;
}
.header1__contact-email_icon {
  margin-right: 10px;
}
.header1__contact-email_text {
  color: white;
}
.header1__contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header1__contact-phone_icon {
  margin-right: 9px;
}
.header1__contact-phone_text {
  color: white;
}
.header1__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.header1__link_tg {
  margin-right: 18px;
}
.header2 {
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
}
.header2__container {
  position: relative;
}
.header2__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header2__name {
  color: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background-image: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 58px;
}
.header2__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #303239;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-right: 47px;
}
.header2__menu li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header2__menu a:not(:last-child) {
  margin-right: 40px;
}
.header2__menu li:hover {
  color: rgba(48, 50, 57, 0.7);
}
.header2__menu-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header2__menu-svg {
  margin-left: 8px;
}
.header2__btn {
  margin: 15px 80px 15px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
  border: none;
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header2__btn:hover {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.4);
          box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.4);
}
.header2__btn:disabled {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
}
.header2__btn:active {
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.6) 0%, rgba(24, 21, 75, 0.6) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
}
.header2__small-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.header2__circle-btn {
  position: relative;
}
.header2__circle-btn:not(:last-child) {
  margin-right: 10px;
}
.header2__circle {
  position: absolute;
  top: -6px;
  right: -6px;
}
.header2__circle_num {
  position: absolute;
  top: -3px;
  right: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
}
.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 780px 20px 380px;
  grid-template-columns: 780px 380px;
  gap: 20px;
  -ms-grid-row: 440;
  grid-row: 440px;
  margin: 40px 0 80px 0;
}
.banner__block1 {
  height: 440px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
  background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
  overflow: hidden;
}
.banner__block1_schema {
  position: absolute;
}
.banner__block1_circle {
  position: absolute;
  margin: 0 0 0 552px;
  top: -62px;
  width: 596px;
  height: 563px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 596px;
  background: rgba(52, 110, 164, 0.2);
}
.banner__block1_info {
  position: absolute;
  margin: 80px 0 0 57px;
}
.banner__block1_name {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.banner__block1_desc {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
.banner__block1_btn {
  color: #18154B;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 31px 15px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background: #FFF;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner__block1_btn:disabled {
  background: rgba(255, 255, 255, 0.6);
}
.banner__block1_btn:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.4);
}
.banner__block1_btn:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 21, 75, 0.15)), to(rgba(24, 21, 75, 0.15))), #FFF;
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF;
}
.banner__block1_img {
  position: absolute;
  margin: 95px 45px 95px 472px;
}
.banner__block1_slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0 30px 30px 0;
}
.banner__block2 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#1A0B73), to(#1A0B73)), radial-gradient(171.82% 119.39% at -6.32% -2.5%, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  background: linear-gradient(0deg, #1A0B73 0%, #1A0B73 100%), radial-gradient(171.82% 119.39% at -6.32% -2.5%, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
}
.banner__block2_info {
  position: absolute;
  margin: 40px 0 0 40px;
}
.banner__block2_name {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner__block2_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.banner__block2_desc-perc {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 20px;
}
.banner__block2_desc-text {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.banner__block2_bitcoin {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 23px 8px;
}
.banner__block2_catalog {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  stroke-width: 1.5px;
}
.banner__block2_text {
  color: white;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
}
.banner__block2-blur_1 {
  position: absolute;
  width: 365px;
  height: 365px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 365px;
  background: #3BB9C6;
  -webkit-filter: blur(73px);
          filter: blur(73px);
  left: -232px;
  top: -223px;
}
.banner__block2-blur_2 {
  position: absolute;
  width: 365px;
  height: 365px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 365px;
  background: #3BB9C6;
  -webkit-filter: blur(73px);
          filter: blur(73px);
  right: -218px;
  bottom: -247px;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
}
.category {
  height: 449px;
}
.category__h1 {
  color: #18154B;
  font-family: Nunito Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.category__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 170px 20px 170px;
  grid-template-rows: 170px 170px;
  gap: 20px;
}
.category__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.category__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.category__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.category__grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.category__grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.category__grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.category__block {
  overflow: hidden;
  position: relative;
  width: 380px;
  height: 170px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
}
.category__block-circle {
  position: absolute;
  left: 0px;
  z-index: 0;
}
.category__block-image {
  position: absolute;
  left: 35px;
  top: 20px;
  bottom: 20px;
}
.category__block-name {
  position: absolute;
  top: 30px;
  right: 32px;
  display: block;
  width: 153px;
  height: 70px;
  color: #303239;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.category__block-catalog {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 65px 30px 0;
}
.category__block-catalog-name {
  color: #18154B;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
}
.category__block-catalog-arrow {
  width: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #18154B;
  stroke-width: 1.5px;
  stroke: #18154B;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F5FB;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}
body a {
  display: inline-block;
  text-decoration: none;
}
body img {
  max-width: 100%;
  display: block;
}
body p {
  margin: 0;
}
body ul, body li {
  list-style-type: none;
}

main {
  width: 100%;
}