footer {
    width: 100%;
    height: 336px;
    flex-shrink: 0;
    background: $main-color;
}

.footer {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;


    &__btn {
        @include white-btn(15px 39px);
    }

    &__first-half {
        margin-top: 10px;
        display: flex;
        justify-content: start;
    }

    &__name {
        display: inline-flex;
        flex-direction: column;
        margin-right: 167px;

        &-h1 {
            @include upper-text(22px, #fff);
            margin-bottom: 16px;
        }

        &-copy {
            color: #B8B8B8;
            font-family: Nunito Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__shopper {
        display: flex;
        flex-direction: column;
        margin-right: 171px;

        &-h1 {
            @include footer-utext;
            margin-bottom: 20px;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-link {
            @include footer-text(#FFF);
        }
    }
    &__catalog {
        &-h1 {
            @include footer-utext;
            margin-bottom: 20px;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-link {
            @include footer-text(#FFF);
        }
    }

    &__other {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;

        &-info {
            display: flex;
            flex-direction: column;
            text-align: right;
        }

        &-text {
            @include footer-text(#B8B8B8);
        }
    }
}