.advantages {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 56px 60px;
    

    width: 100%;
    flex-shrink: 0;

    border-radius: 10px;
    background: url(/images/main/advantages/svg.svg) no-repeat ,url(/images/main/advantages/ellipse.svg) no-repeat , url(/images/main/advantages/grid.svg) no-repeat, radial-gradient(130.91% 98.19% at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
    background-position: 55px 29px, right bottom, center center, center center;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    margin-bottom: 80px;


    &__name {
        display: block;
        width: 147px;
        
        
        @include upper-text(36px, #FFF);
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 114px 114px;
        row-gap: 40px;
        column-gap: 64px;
        margin-right: 4%;

    }

    &__text {

        &_1 {
            @include advantages-text(147px);
            
        }
        &_2 {
            @include advantages-text(176px);
            
        }
        &_3 {
            @include advantages-text(122px);
            
        }
        &_4 {
            @include advantages-text(176px);
            
        }
        &_5 {
            @include advantages-text(148px);
            
        }
        &_6 {
            @include advantages-text(135px);
            
        }
    }



    &__frame {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        fill: rgba(52, 110, 164, 0.20);
        box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.90);
        border-radius: 50%;
    }


}