.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #f60;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 2%;

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__name {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  &__icon {
    border: 1.5px solid white;
  }

}