.header {
    width: 100%;

// Header 1
    &1 {
        height: 46px;
        background-color: $main-color;
        @include header1-font;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__contacts {
            display: flex;
            margin-top: 14px;

        }

        &__contact-email {
            display: flex;
            margin-right: 44px;
        }

        &__contact-phone {
            display: flex;
        }

        &__contact-email_icon {
            margin-right: 10px;
        }

        &__contact-phone_icon {
            margin-right: 9px;
        }

        &__links {
            display: flex;
            margin-top: 10px;
        }

        &__link_tg {
            margin-right: 18px;
        }
    }
// Header 2
    &2 {
        height: 70px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
        
        &__circle-btn {
        @extend %circle-button;
        }

        &__container {
            position: relative;
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__name {
            color: $main-gradient;

            font-family: Nunito Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            background-image: $main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            margin-right: 58px;

        }

        &__menu {
            display: flex;

            color: #303239;
            font-family: Nunito Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0;
            margin-right: 47px;

            li:not(:last-child) {
                margin-right: 40px;
            }

        }

        &__menu-catalog {
            display: flex;
            align-items: center;
        }

        &__menu-svg {
            margin-left: 8px;
        }

        &__btn {
            margin: 15px 80px 15px 0;
            @include button-gradient(11px 27px, 13px) 
        }

        &__small-btns {
            display: flex;
            margin: 0;
            padding: 0;
        }

        &__circle-btn:not(:last-child) {
            margin-right: 10px;
        }
    }

    
}