.header {
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 999999;

// Header 1
    &1 {
        height: 46px;
        background-color: $main-color;
        @include header1-font(#F0F5FB, 400);

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__contacts {
            display: flex;
            margin-top: 14px;

        }

        &__contact-email {
            display: flex;
            margin-right: 44px;

            &_icon {
                margin-right: 10px;
            }

            &_text {
                color: white;
            }
        }

        &__contact-phone {
            display: flex;

            &_icon {
                margin-right: 9px;
            }

            &_text {
                color: white;
            }
        }

        &__links {
            display: flex;
            margin-top: 10px;
        }

        &__link_tg {
            margin-right: 18px;
        }
    }
// Header 2
    &2 {
        height: 70px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
        
        &__circle-btn {
        @extend %circle-button;
        }

        &__container {
            position: relative;
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__name {
            @include gradient-text(20px);
            text-transform: uppercase;

            margin-right: 58px;

        }

        &__menu {
            display: flex;

            color: #303239;
            font-family: Nunito Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0;
            margin-right: 47px;

            li {transition: all 0.2s ease-in-out;}

            a:not(:last-child) {
                margin-right: 40px;
            }

            li:hover {
                color: rgba(48, 50, 57, 0.70);
            }

        }

        &__menu-catalog {
            display: flex;
            align-items: center;
        }

        &__menu-svg {
            margin-left: 8px;
        }

        &__btn {
            margin: 15px 80px 15px 0;
            @include button-gradient(11px 27px, 13px);
        }

        &__small-btns {
            display: flex;
            margin: 0;
            padding: 0;
        }

        &__circle-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__circle-btn:not(:first-child) {
            margin-left: 10px;
        }

        &__circle {
            position: absolute;
            top: -6px;
            right: -6px;

            &_num {
                position: absolute;
                top:-3px;
                right: 0;
                color: #FFF;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

}
