.post-comments {
  font-family: $primary-family;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;

  &__name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
}

.post-comment {

  &_parent {
    margin-bottom: 20px ;
  }

  &__answers {
    margin-top: 5px;
    margin-left: 3%;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    font-size: 0.8em;
    color: $grey-color;
    margin-bottom: 3px;
  }

  &__bottom {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text {
    font-size: 0.9em;
    text-overflow: ellipsis;
    line-height: 20px;
  }

  &__show {
    color: $grey-color;
    width: 90px;
    font-size: 0.8em;
    cursor: pointer;
    margin-left: 2px;
    text-align: center;

    border-bottom: 1.4px dashed $grey-color;

    &:active {
      color: black;
    }
  }
}

@include desktop {
  .post-comments {

  }
  .post-comment {
    &_parent {
      margin-bottom: 20px ;
    }
  }
}

@include desk-to-tab {
  .post-comments {

  }
  .post-comment {

  }
}

@include tablet {
  .post-comments {
    padding: 0 8px 8px 8px;



    &__name {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 0.8em;
    }

  }
  .post-comment {
    &_parent {
      margin-bottom: 18px ;
    }

    &__answers {
      margin-top: 4px;
      margin-left: 2.5%;
    }

    &__top {
      column-gap: 7px;
      font-size: 0.75em;
      margin-bottom: 2.5px;
    }

    &__bottom {
      margin-bottom: 4px;
      gap: 4px;
    }

    &__text {
      font-size: 0.85em;
      line-height: 18px;
    }

    &__show {
      width: 80px;
      font-size: 0.75em;
      margin-left: 2px;
      border-bottom: 1.4px dashed $grey-color;
    }
  }
}

@include mobile {
  .post-comments {
    padding: 0 6px 6px 6px;



    &__name {
      margin-top: 6px;
      margin-bottom: 6px;
      font-size: 0.75em;
    }
  }
  .post-comment {
    &_parent {
      margin-bottom: 16px ;
    }

    &__answers {
      margin-top: 3.5px;
      margin-left: 2%;
    }

    &__top {
      column-gap: 6px;
      font-size: 0.7em;
      margin-bottom: 2px;
    }

    &__bottom {
      margin-bottom: 3px;
      gap: 3px;
    }

    &__text {
      font-size: 0.75em;
      line-height: 16px;
    }

    &__show {
      width: 75px;
      font-size: 0.7em;
      margin-left: 2px;
      border-bottom: 1.4px dashed $grey-color;
    }
  }
}