$grey-color: #828282;
$primary-color: #f60;
$primary-family: 'Montserrat', sans-serif;

$breakpoint-desktop: 1320px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 600px;

$content-width-desktop: 1320px;
$content-width-tablet: 768px;