@mixin header1-font {
    color: #F0F5FB;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin button-gradient($padding, $font-size) {
    display: inline-flex;
    padding: $padding;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
    border: none;
    
    color: #FFF;
    font-family: Nunito Sans;
    font-size: $font-size;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.40);
    }
    &:disabled {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    }
    &:active {
        background: linear-gradient(0deg, rgba(24, 21, 75, 0.60) 0%, rgba(24, 21, 75, 0.60) 100%), linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    }

}

@mixin upper-text($font-size, $color) {
    color: $color;
    font-family: Nunito Sans;
    font-size: $font-size;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;  
}

@mixin white-btn($padding) {

    color: $main-color;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: inline-flex;
    padding: $padding;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border: none;

    transition: all 0.3s ease-in-out;

    &:disabled {
        background: rgba(255, 255, 255, 0.60);
    }
    &:hover {
        box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.40);
    }
    &:active {
        background: linear-gradient(0deg, rgba(24, 21, 75, 0.15) 0%, rgba(24, 21, 75, 0.15) 100%), #FFF;
    }

}

@mixin catalog-text($color) {
    color: $color;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin catalog-psevdclass {
    &:disabled {
        color: rgba(255, 255, 255, 0.60);
        fill: rgba(255, 255, 255, 0.60);
        stroke: rgba(255, 255, 255, 0.60);
    }
}

@mixin advantages-text($width) {
    display: block;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: $width;
}