$breakpoint-desktop: 1920px;
$breakpoint-mobile: 320px;

$content-width-desktop: 1180px;
$content-width-mobile: 300px;

$main-gradient: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
$main-color: #18154B;
